<!---- Editor-->
<label for="exampleTextarea" class="form-label mt-4">Editor</label>
<div class="codemirror">
  <ngx-codemirror
    [(ngModel)]="contenidoEditor"
    [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'javascript'
    }"
  ></ngx-codemirror>
</div>

<!--
<textarea
  #box
  (keyup)="getContenido(box.value)"
  class="form-control"
  id="exampleTextarea"
  cols="80"
  rows="50"
  spellcheck="false"
  style="height: 264px"
>
</textarea>
-->

<!-- (keyup) sirve para que se ejecute cada que se presiona una tecla para no usar boton    -->
<!--
<button class="btn btn-primary"  
  (click)="prueba(box.value)">
    Capturar contenido
</button>
-->
<!--
<button class="btn btn-primary"  
  (click)="prueba2()">
    Capturar contenido
</button>
-->